*{
    box-sizing: border-box;
    margin:0;
}
body{
    background-color: #D1D8EC;
    font-family: sans-serif;
    padding-top: 3em;
    padding-bottom: 3em;
    display: flex;
    justify-content: center;
    align-content: center;
}
.mainDiv{
    background: #D1D8EC;
    box-shadow:  25px 25px 60px #9095a3,
             -25px -25px 60px #f7ffff;
    border-radius: 3em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 20em;
    height: 40em;
}
.display{
    text-align: center;
    font-size: 11em;
    color: #031D44;
}
.title{
    text-align: center;
    font-size: 5em;
    color: #6e8cb9;
    line-height: 3rem;
    letter-spacing:-0.05em;
}
em{
    text-transform: uppercase;
    color:#FA824C ;
    font-size:1em ;
    letter-spacing:-0.025em;
    font-weight: 8  00;
}
.divButtons{
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
   align-items: center;
   padding-bottom: 2em;
}
button{
    background: #D1D8EC;
    box-shadow:  10px 10px 20px #9095a3,
             -10px -10px 20px #ecf1f1;    
    border-color: #D1D8EC;
}
.divButtons > button{
    height: 8em;
    width: 8em;
    border-radius: 2em; 
}
.resetButton{ 
    height: 4em;
    border-radius: 1.5em;
    margin-left: auto;
    margin-right:auto;
    width: 10em;
}
.resetText{
    color: #FA824C;
    font-size: 1.5em;

}
.resetText:active{
    color:#4C9226 ;
}
h4{
    padding-top: 3em;
    font-size: 0.8em;
    text-align: center;
}
h4> a{
    text-decoration-line: none;
    color: #6e8cb9;
}
/*TABLET VERSION*/
@media (min-width: 768px) { 
    body{
        overflow-y: hidden;
        padding-bottom: 2em;
    }
    .mainDiv{
        width: 20em;
        height:35em;   
    }
 }

 
/*DESKTOP VERSION*/ 
@media (min-width: 1024px) {  
   body{
       padding-top: 5em;
       padding-bottom: 5em;
   }
    .mainDiv{
        width: 25em;
        height:47em;
    }
    .display{
        padding-top: 0.2rem;
        padding-bottom: 0.2rem;
        font-size: 15em;
    }
    .divButtons> button{
        height: 10em;
        width: 10em;
    }
    .resetButton{
        width: 14em;
    }
    .resetText{
        font-size: 2.2em;
    }
}