*{
    box-sizing: border-box;
    margin:0;
}
body{
    background-color: #D1D8EC;
    font-family: 'Bebas Neue';
    overflow-y: scroll;
    padding-top: 4em;
    display: flex;
    justify-content: center;
   
}
.mainDiv{
    background: #D1D8EC;
    box-shadow:  25px 25px 60px #9095a3,
             -25px -25px 60px #f7ffff;
    border-radius: 3em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 20em;
    height: 40em;
    margin-left: auto;
    
}
.displayer{
    text-align: center;
    font-size: 11em;
}
.firstTitle{
    text-align: center;
    font-size: 3.5em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    color: #2B2118;
}
div{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
   align-items: center;
}
button{
    height: 8em;
    width: 8em;
    border-radius: 2em;
    background: #D1D8EC;
    box-shadow:  25px 25px 80px #9095a3,
             -25px -25px 80px #f7ffff; 
    margin-right:1.3em;     
}

.plusButton :active {
    background-color: crimson;
color: rgb(161, 135, 29);
}
.resetButton{ 
    height: 4em;
    margin-top: 2em;
}
.resetText{
    color: #CF1259;
    font-size: 1.5em;

}
.resetText:active{
    color:#541388 ;
}
h4{
    padding-top: 3em;
    font-size: 0.8em;
}
/*TABLET VERSION*/
@media (min-width: 768px) { 
    body{
        background-color: #D1D8EC;
        font-family: 'Bebas Neue';
        overflow-y: scroll;
        padding-top: 4em;
        display: flex;
       
    }
    .mainDiv{
        background: #D1D8EC;
        box-shadow:  25px 25px 60px #9095a3,
                 -25px -25px 60px #f7ffff;
        border-radius: 3em;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 25em;
        height: 50em;
        margin-left: auto;
    }
    .displayer{
        text-align: center;
        font-size: 12em;
    }
    .firstTitle{
        text-align: center;
        font-size: 3em;
        padding-top: 0.5em;
        padding-bottom: 0.5em;
        color: #2B2118;
    }
    div{
        margin-left: auto;
        margin-right: auto;
        display: flex;
        flex-direction: row;
        justify-content:space-between;
       align-items: center;
    }
    button{
        height: 10em;
        width: 10em;
        border-radius: 40px;
        background: #D1D8EC;
        box-shadow:  25px 25px 80px #9095a3,
                 -25px -25px 80px #f7ffff; 
        margin:3em;     
    }
    .resetButton{ 
        height: 7em;
    }
    .resetText{
        color: #CF1259;
        font-size: 3em;
    
    }
 }
/*DESKTOP VERSION*/ 
@media (min-width: 1024px) {  
    .mainPage{
        height: 45em;
       margin: auto;
       width: 30em;
    }
    .firstTitle{
        text-align: center;
        font-size: 5em;
        padding-top: 1em;
        padding-bottom: 0.5em;
        color: #2B2118;
    }
    button{
    height: 14em;
    width: 14em;
    }
    .displayer{
        text-align: center;
        font-size: 13em;
    }
    div{
        margin-left: auto;
        margin-right: auto;
        display: flex;
        flex-direction: row;
        justify-content:space-between;
       align-items: center;
    }
    button{
        height: 10em;
        width: 10em;
        border-radius: 40px;
        background: #D1D8EC;
        box-shadow:  25px 25px 80px #9095a3,
                 -25px -25px 80px #f7ffff; 
        margin:3em;     
    }
   
    .resetButton{ 
        height: 7em;
        width: 12em;
    }
    .resetText{
        color: #CF1259;
        font-size: 3em;
    
    }
   
    
}